
 <div class="article">
   <h1>Title: {{title}}</h1>
   <h2>Body: {{body}}</h2>
   <h2>Author: {{author}}</h2>
 </div>
<body>
  <form action="/articles/{{title}}?_method=DELETE" method="POST" >
  <button type= "submit" value = "Submit">Delete</button>
</body>