 <h1>Articles List</h1>

{{#each article}}
 <div class="article">
   <h1>Title: {{this.title}}</h1>
   <h2>Body: {{this.body}}</h2>
   <h2>Author: {{this.author}}</h2>
 </div>
{{/each}}
{{!-- <body>
</body> --}}