<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <h1>Articles</h1>
</head>
<body>
<!-- Simple form which will send a POST request -->
<form action="/articles" method="post">
  <label for="POST-title">Title:</label>
  <input id="POST-title type="text" name="title">

  <label for="POST-body">Body:</label>
  <input id="POST-body" type="text" name="body">

  <label for="POST-author">Author:</label>
  <input id="POST-author" type="text" name="author">

  <input type="submit" value="Save">

  {{!-- <div class= "error">
    {{if }} --}}
  </div>
</form>
</form>
</body>
</html>